extends ../layout

block content
    
  //- script
  //-   | var taskDays = !{JSON.stringify(cal)};
  //-   | var days = [];
  //-   | for (var key in taskDays) days.push(taskDays[key])
  //-   | console.log(days);


  table#cal_table
      tr
        th.monday Monday
        th.tuesday Tuesday
        th.wednesday Wednesday
        th.thursday Thursday
        th.friday Friday
        th.saturday Saturday
        th.sunday Sunday

      each w, index in cal
        -if (w !== undefined){
          tr(id='week-' + index)
            each d in w
              td(class= d.weekday)
                -if (d.tasks !== undefined){
                  div
                    each task in d.tasks
                      p= task.title
                      p= task.description
                -}
        -}

      //- tr
      //-   td
      //-     div
      //-       each d in cal
      //-         -if (d !== undefined){
      //-           p= d.weekday
      //-           -if (d.task !== undefined){
      //-             p= d.task.title
      //-             p= d.task.description
      //-           -}
      //-         -}