body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.task-complete {
	padding:3px;
	background-color:green;
	color:white;
	display:inline-block;
	margin-right:10px;
	border-radius:4px;
}

#cal_table {
	width:500px;
	height:350px;
	border:1px solid #e4e4e4;
	border-collapse: collapse;
}

#cal_table th {
	background-color:#e0e3e6;
}

#cal_table td {
	border: 1px solid #CECECE;
	vertical-align: top;
}

#cal_table td a.task {
	border-radius:2px;
	height: 1rem;
	padding:0.5rem;
	width: 100px;
	background: #00B7FF;
	line-height: 1rem;
	color: white;
	margin: 0.5rem;
	display: block;
	text-decoration: none;
}

#cal_table td a.task:hover {
	background: black;
}