extends ../layout

block content
	p #{title}
	form#formAddTask(name="addtask",method="post",action="/tasks", enctype='multipart/form-data')
		//- p Category Prefix:
		//- 	input#inputCatprefix(type="text", placeholder="eg. PRJ", name="catprefix")
		//- p Id In Category:
		//- 	input#inputIdincat(type="text", placeholder="ex. 1" name="idincat")
		p Title: 
			input#inputTitle(type="text", placeholder="ex. Re-style header", name="title")
		p Description:
			input#inputDescription(type="text", placeholder="ex. Change the colour scheme.", name="description")
		//- P Target Date:
		//- 	input#inputTarget(type="date", name="target")
		//- p Status:
		//- 	input#inputStatus(type="text", placeholder="ex. in-progress" name="status")
		//- p Progress:
		//- 	input#inputProgress(type="text", placeholder="ex. 50", name="progress")
		//- p Priority:
		//- 	input#inputPriority(type="text", placeholder="ex. 1", name="priority")
		//- p Difficulty:
		//- 	input#inputDifficulty(type="text", placeholder="ex. easy", name="difficulty")
		//- p Image:
		//- 	input#inputImg(type="file", name="img")
		//- TODO: this needs to be changed to display thumbnails for all attachments and allow them to be selected and edited/inserted
		p
			button#btnSubmit(type="submit") submit