extends ../layout

block content
	p #{title}
	//- form#formAddTask(name="addtask",method="post",action="/tasks", enctype='multipart/form-data') // TODO: make multipart work when adding files
	form#formAddTask(name="addtask",method="post",action="/tasks", enctype='application/json')
		p Title: 
			input#inputTitle(type="text", placeholder="ex. Re-style header", name="title")
		p Description:
			input#inputDescription(type="text", placeholder="ex. Change the colour scheme.", name="description")
		P Start Date:
			input#inputStartDate(type="date", name="startdate")
		P End Date:
			input#inputEndDate(type="date", name="enddate")
		p
			button#btnSubmit(type="submit") submit